<div id="control">
    <div id="cam_control">
        <table>
            <tr>
                <td></td>
                <td><button id="cam_forward" class="fas fa-angle-up"></button></td>
                <td></td>

            </tr>
            <tr>
                <td><button id="cam_strafe_left" class="fas fa-angle-left"></button></td>
                <td></td>
                <td><button id="cam_strafe_right" class="fas fa-angle-right"></button></td>
            </tr>
            <tr>
                <td></td>
                <td><button id="cam_back" class="fas fa-angle-down"></button></td>
                <td></td>

            </tr>
        </table>
        <table>
            <tr>
                <td><button id="cam_rise" class="fas fa-angle-up"></button></td>
            </tr>
            <tr></tr>
            <tr>
                <td><button id="cam_fall" class="fas fa-angle-down"></button></td>
            </tr>
        </table>
        <input id="movement_speed" type="range" min=0.1 max=10 value=0.5/>
        <table>
            <tr>
                <td></td>
                <td><button id="cam_tilt_up" class="fas fa-angle-up"></button></td>
                <td></td>
            </tr>
            <tr>
                <td><button id="cam_tilt_left" class="fas fa-angle-left"></button></td>
                <td></td>
                <td><button id="cam_tilt_right" class="fas fa-angle-right"></button></td>
            </tr>
            <tr>
                <td></td>
                <td><button id="cam_tilt_down" class="fas fa-angle-down"></button></td>
                <td></td>
            </tr>
        </table>
        <input id="rotate_speed" type="range" min=0.02 max=1.57 value=0.09/>
    </div>
</div>
<div>
    <button id="pause_sim">Pause Simulation</button>
</div>