<div id="control">
    
<table id="cam_control">
    <tr>
        <td></td>
        <td><button id="cam_forward"></button></td>
        <td></td>
        <td><button id="cam_rise"></button></td>
    </tr>
    <tr>
        <td><button id="cam_strafe_left"></button></td>
        <td></td>
        <td><button id="cam_strafe_right"></button></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><button id="cam_back"></button></td>
        <td></td>
        <td><button id="cam_fall"></button></td>
    </tr>
</table>
<table id="cam_control">
        <tr>
            <td></td>
            <td><button id="cam_tilt_up"></button></td>
            <td></td>
        </tr>
        <tr>
            <td><button id="cam_tilt_left"></button></td>
            <td></td>
            <td><button id="cam_tilt_right"></button></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="cam_tilt_down"></button></td>
            <td></td>
        </tr>
    </table>

<button id="pause_sim">Pause</button>

</div>