extends layout

block scripts
    //script(src='/javascripts/gl-matrix.js')
    script(src='/javascripts/mb-matrix.js', type='module')
    script(src='/javascripts/glutils.js', type='module')
    script(src='/javascripts/geo3d.js', type='module')
    script(src='/javascripts/main.js', type='module')
    
block content
  canvas#canvas_1
  include control.html
