doctype html
html
  head
    title= title
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/fontawesome-free/css/fontawesome.css" rel="stylesheet")
    link(href="/fontawesome-free/css/solid.css" rel="stylesheet")
    block scripts
  body
    block header
      include header.html
    block content
    block footer
      include footer.html
