doctype html
html
  head
    title= title
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
