<div id="content_wrap">

    <div id="main_can_wrap">
        <canvas id="canvas_1"></canvas>
        <div id="stats_overlay_1">

        </div>
        <div id="sim_menu">
            <div id="objects_panel">
                <div id="objects_tab" class="sim_menu_tab">Objects <span class="fas fa-list"></span></div>
                <div id="objects_dropdown" class="dropdown_panel">
    
                </div>
            </div>
            <div id="options_panel">
                <div id="options_tab" class="sim_menu_tab">Options <span class="fas fa-list"></span></div>
                <div id="options_dropdown" class="dropdown_panel">
                    <button id="pause_sim" class="transparent_button">Pause Simulation</button>
                    <button id="toggle_shader" class="transparent_button">Toggle Textures</button>
                </div>

            </div>
        </div>

        <div id="control">
            <div id="cam_control">
                <!-- <div class="cam_label"><span class="fa-lg fas fa-camera"></span></div> -->
                <div class="grid_main_wrapper">
                    <div class="control_desc">Movement</div>
                    <div class="grid_container_cam">
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_forward" class="fa-lg fas fa-angle-up"></button></div>
                        <div class="grid_item"></div>
                        <div class="grid_item">
                            <td><button id="cam_strafe_left" class="fa-lg fas fa-angle-left"></button>
                        </div>
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_strafe_right" class="fa-lg fas fa-angle-right"></button>
                        </div>
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_back" class="fa-lg fas fa-angle-down"></button></div>
                        <div class="grid_item"></div>
                    </div>
                </div>
                <div class="grid_main_wrapper">
                    <div class="control_desc">Altitude</div>
                    <div class="grid_container_cam2">
                        <div class="grid_item"><button id="cam_rise" class="fa-lg fas fa-angle-up"></button></div>
                        <div class="grid_item"></div>
                        <!-- <div class="fas fa-arrows-alt-v"></div> -->
                        <div class="grid_item"><button id="cam_fall" class="fa-lg fas fa-angle-down"></button></div>
                    </div>
                </div>
                <div class="grid_main_wrapper">
                    <div class="control_desc">Panning</div>
                    <div class="grid_container_cam">
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_tilt_up" class="fa-lg fas fa-angle-up"></button></div>
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_tilt_left" class="fa-lg fas fa-angle-left"></button>
                        </div>
                        <div class="grid_item"><button id="cam_recenter" class="fas fa-crosshairs"></button></div>
                        <div class="grid_item"><button id="cam_tilt_right" class="fa-lg fas fa-angle-right"></button>
                        </div>
                        <div class="grid_item"></div>
                        <div class="grid_item"><button id="cam_tilt_down" class="fa-lg fas fa-angle-down"></button>
                        </div>
                        <div class="grid_item"></div>
                    </div>
                </div>

                <button id="cam_speed_btn" class="fas fa-cog"></button>
                <div id="cam_speed_settings">
                    <div>
                        <input id="rotate_speed" class="cam_speed" type="range" min=01 max=360 value=30 />
                        <span id="rotate_speed_label" class="cam_speed"></span>
                    </div>
                    <div>
                        <input id="movement_speed" class="cam_speed" type="range" min=0.1 max=467 value=46.7 />
                        <span id="movement_speed_label" class="cam_speed"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>