<div id="content_wrap">
    <div id="sim_menu">
        <button id="objectsbtn" class="dropdownbtn">Objects</button>
        <div id="objectsdiv" class="dropdowndiv">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
                
    </div>
    <canvas id="canvas_1"></canvas>

    <div id="control">
            <div id="cam_control">
                <!-- <div class="cam_label"><span class="fa-lg fas fa-camera"></span></div> -->
                <table class="threex3">
                    <thead><tr><th colspan="3">move</th></tr></thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><button id="cam_forward" class="fa-lg fas fa-angle-up"></button></td>
                        <td></td>
        
                    </tr>
                    <tr>
                        <td><button id="cam_strafe_left" class="fa-lg fas fa-angle-left"></button></td>
                        <td><span class="fas fa-arrows-alt"></span></td>
                        <td><button id="cam_strafe_right" class="fa-lg fas fa-angle-right"></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="cam_back" class="fa-lg fas fa-angle-down"></button></td>
                        <td></td>
        
                    </tr>
                </tbody>
                </table>
                <table>
                    <thead><tr><th colspan="1">alt</th></tr></thead>
                    <tr>
                        <td><button id="cam_rise" class="fa-lg fas fa-angle-up"></button></td>
                    </tr>
                    <tr><td><span class="fas fa-arrows-alt-v"></span></button></td></tr>
                    <tr>
                        <td><button id="cam_fall" class="fa-lg fas fa-angle-down"></button></td>
                    </tr>
                </table>
               
                <table class="threex3">
                    <thead><tr><th colspan="3">pan</th></tr></thead>
                    <tr>
                        <td></td>
                        <td><button id="cam_tilt_up" class="fa-lg fas fa-angle-up"></button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button id="cam_tilt_left" class="fa-lg fas fa-angle-left"></button></td>
                        <td><button id="cam_recenter" class="fas fa-crosshairs"></button></td>
                        <td><button id="cam_tilt_right" class="fa-lg fas fa-angle-right"></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="cam_tilt_down" class="fa-lg fas fa-angle-down"></button></td>
                        <td></td>
                    </tr>
                </table>
                
            </div>
            <div id="cam_speed_settings">
                    <input id="rotate_speed" type="range" min=0.02 max=1.57 value=0.09/>
                    <input id="movement_speed" type="range" min=0.1 max=10 value=0.5/>
            </div>
        </div>
        <div>
            <button id="pause_sim">Pause Simulation</button>
            <button id="toggle_shader">Toggle Shader</button>
        </div>
</div>