body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvas_1 {
    width:90%;
    height:500px;
    background: black;
}

#cam_control > * {
  display: block;
  float: left;
  max-width: 200px;
}
