body {
  /* padding: 50px; */
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  /* background-image: url("../images/2k_stars.jpg"); */
  /* background-color: rgba(.2, .2, .2, .2); */
  width: 90%;
  margin: auto;
  border-width: 0px 2px;
  border-color: black;
  border-style: solid;

}

#head_wrap {
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 2px;
}

a {
  color: #00B7FF;
}

#main_can_wrap {
  position: relative;
  width: 100%;
  height: 500px;
  border-bottom: 1px solid black;
}

#stats_overlay_1 {
  width: 20%;
  height: 30%;
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
}

#canvas_1 {
    z-index: -5;
    width:100%;
    height:100%;
    background: black;
    position: absolute;
    top: 0%;
    left: 0%;
}

#control {
  position: static;
  z-index: 1;
}

#cam_control > * {
  display: block;
  float: left;
  margin: 2px 2px;
  padding: .5em;
  text-align: center;
  
  top: 10%;
  
  /* max-width: 200px; */
}

#cam_control  .threex3 {
  width: 75px;
  height: 75px;
}
#cam_control > table {
  padding: 0%;
  margin-right: .5em;
  /* border-width: 0px .5vw 0px 0px;
  border-style: solid; */

}

#cam_control > table > tbody > tr > td {
  width: 25px;
  height: 25px;
  padding: 0%;
}

/* #cam_control > table > tbody > tr > td  */

#cam_control > table > tbody > tr > td > button{
padding: 0%;
width: 100%;
height: 100%;
background-color: #ddd;
border: none;
color: black;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
border-radius: 16px;
}

#cam_speed_settings {
  display: block;
}

#foot_wrap {
  clear: both;
  width:100%;
}
#foot_wrap > div {
  float: left;
  min-width:40%;
}

#sim_menu {
  z-index: 1;
  position: relative;
  min-height: 2em;
  width: 100%;
  padding: .5em;
  /* background: green; */
}


#objects_tab {
  cursor: pointer;
  border: 1px solid black;
  margin: 0%;
  padding: .5vw;
  right: 2em;
  position: absolute;
  
}

#objects_dropdown {
  display: none;
  position: absolute;
  right: 2em;
  top: 2em;
}


.object_viewer {
  background: orange;
  width: 20em;
  height: 5em;
  border: 1px solid red;
  padding: 1em;
}

.object_viewer:hover {
  background: #ddd;
  cursor: pointer;

}

.selected_object {
  background: green;
}

.object_viewer * {
  display: block;
  float: left;
  margin: .5em .5em;
}

#objects_controls {
  background: orange;
  width: 20em;
  height: 5em;
}

.thumb {
  max-width: 20%;
  max-height: 20%;
}

.object_viewer .thumb  img { 
  max-width: 100%;
  max-height: 100%;
}
#objects_panel:hover #objects_dropdown {display: block;}